* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

header {
  align-items: center;
  margin-bottom: 15px;
}

header div {
  height: 100%;
}

header img {
  border-radius: 50%;
  box-shadow: -10px 10px 10px grey;
  float: right;
}

header p {
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: 'Fredericka the Great', cursive;
  color: black;
}

nav {
  background-color: #abccdd;
  line-height: 1;
  font-size: smaller;
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section {
  min-height: 200px;
  padding: 15px 5%;
  background-color: #e8eaea;
  margin-top: 15px;
}

section p {
  text-align: left;
}

.project img {
  width: 200px;
}

a {
  display: block;
}

.key {
  font-weight: bold;
}

@media only screen and (max-width: 699px) {
  header {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row-reverse;
  }

  header img {
      width: 150px;
      margin-top: 40px;
  }

  .thumbnails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: space-between;
  }
}

@media only screen and (min-width: 700px) {
  header img {
      width: 250px;
      margin: 15px;
  }

  .project img {
      width: 300px;
  }

  .thumbnails a {
      display: inline;
  }

  .thumbnails {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .break {
      flex-basis: 100%;
      height: 0;
  }
}